@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.news-hover:hover {
  background-color: #2a283e;
}
